:root {
    $pale-blue: hsl(225, 100%, 94%) !global;
    $bright-blue: hsl(245, 75%, 52%) !global;

    $very-pale-blue: hsl(225, 100%, 98%) !global;
    $desaturated-blue: hsl(224, 23%, 55%) !global;
    $dark-blue: hsl(223, 47%, 23%) !global;
    $component-color: #fff !global;
}